@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/Pages/Pagos/HistorialDePagos.css" rel="stylesheet" />
</head>

<div class="container">
    <h2>Historial de pagos</h2>


    <div class="content">
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Tipo de procedimiento y sede</th>
                    <th>Monto</th>
                </tr>
            </thead>

            <tbody>
                @if (Model != null)
                {
                    @foreach (var pago in Model)
                    {
                        <tr>
                            <td>@pago.Fecha.ToString("dd/MM/yyyy - hh:mm tt")</td>
                            <td>@pago.Procedimiento</td>
                            <td>@pago.Monto</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="pagination">
        @if (ViewBag.PaginaActual > 1)
        {
            <a href="@Url.Action("Index", new { pagina = ViewBag.PaginaActual - 1 })" class="pagination-item">&lt;&lt; Prev</a>
        }

        @for (int i = 1; i <= ViewBag.TotalPaginas; i++)
        {
            <a href="@Url.Action("Index", new { pagina = i })" class="pagination-item @(i == ViewBag.PaginaActual ? "active" : "")">@i</a>
        }

        @if (ViewBag.PaginaActual < ViewBag.TotalPaginas)
        {
            <a href="@Url.Action("Index", new { pagina = ViewBag.PaginaActual + 1 })" class="pagination-item">Next &gt;&gt;</a>
        }
    </div>
</div>